/data/extracted_files/DRHAGIS
/data/extracted_files/FIVES A Fundus Image Dataset for AI-based Vessel Segmentation
/data/extracted_files/hrf
/data/extracted_files/__MACOSX
/data/parsed_dataset/drhagis
/data/parsed_dataset/fives
/data/parsed_dataset/fives.all
/data/parsed_dataset/hrf
data/checkup_images
*.rar
*.zip
*.bak
*.tar
__pycache__
*.npz
*.pt.output.txt
*.pt
/data/segmented/*_*/temp_*/*
/data/segmented/*_*/*.png
/data/segmented/fives/*
/data/segmented/hrf/*
/data/parsed_dataset_test/*
/data/generate/
*.pth
*model*.txt
*.aux
*.log
*.out
*.pdf
*.bbl
*.blg
*.dep
output_*.png
.vs/
!unet_model_20250212_002522.zip
!cnn_model_20250214_222252.zip
!unet_model_20250224_183427.zip
!cnn_model_20250224_222300.zip
!cnn_model_20250529_005118.zip
!unet_model_20250529_000149.zip
data/segmented/test_all/summary.txt
